---
title: Pandas I
format:
  html:
    toc: true
    toc-depth: 5
    toc-location: right
    code-fold: false
    theme:
      - cosmo
      - cerulean
    callout-icon: false
---

::: {.callout-note collapse="true"}
## Learning Outcomes
:::

Data scientists work with data stored in a variety of formats. The primary focus of this class is in understanding tabular data - one of the most widely used formats in data science. This note introduces DataFrames, which are among the most popular representations of tabular data. We’ll also introduce `pandas`, the standard Python package for manipulating data in DataFrames.

## DataFrames

In Data 8, you encountered the `Table` class of the `datascience` library. In Data 100, we'll be using the `DataFrame` class of the `pandas` library.

Here is an example of a DataFrame containing election data.

In [139]:
import pandas as pd

elections = pd.read_csv("data/elections.csv")
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979
181,2020,Howard Hawkins,Green,405035,loss,0.255731

Let's dissect the code above. 

1. We first import the ````pandas```` library into our Python environment, using the alias `pd`. <br> &emsp;```` import pandas as pd ````

2. There are a number of ways to read data into a DataFrame. In Data 100, our data are typically stored in a CSV (comma-seperated values) file format. We can import a CSV file into a DataFrame by passing the data path as an argument to the following ````pandas```` function. 
<br> &emsp;```` pd.read_csv("elections.csv") ```` 

This code stores our DataFrame object into the ````elections```` variable. Upon inspection, our ````elections```` DataFrame has 182 rows and 6 columns. Each row represents a single record - in our example, a presedential candidate from some particular year. Each column represents a single attribute, or feature of the record.

The API (application programming interface) for the DataFrame class is enormous. In the next section, we'll discuss several methods of the DataFrame API that allow us to extract subsets of data.

## Slicing in DataFrames

The most fundamental way to manipulate a DataFrame is to extract a subset of rows and columns. This is called **slicing**. We can do so with three primary methods of the DataFrame class:

1. `.loc`
2. `.iloc`
3. `[]`

### Indexing with .loc

The `.loc` operator selects rows and columns in a DataFrame by their row and column label(s), respectively. The **row label** (commonly referred to as the **index**) is the bold text on the far left of a DataFrame, while the **column label** is the text found at the top of a DataFrame. By default, row labels in `pandas` are the sequential list of integers beginning from 0. The column labels in our `elections` DataFrame are the column names themselves: `Year`, `Candidate`, `Party`, `Popular Vote`, `Result`, and `%`.

`.loc` lets us grab data by specifying the appropriate row and column label(s) where the data exists. The row labels are the first argument to the `.loc` function; the column labels are the second. For example, to select the the row labeled `0` and the column labeled `Candidate` from our `elections` DataFrame we can write:

In [140]:
elections.loc[0, 'Candidate']

'Andrew Jackson'

To select *multiple* rows and columns, we can use Python slice notation. We can select the first four rows and first four columns.

In [141]:
elections.loc[0:3, 'Year':'Popular vote']

   Year          Candidate                  Party  Popular vote
0  1824     Andrew Jackson  Democratic-Republican        151271
1  1824  John Quincy Adams  Democratic-Republican        113142
2  1828     Andrew Jackson             Democratic        642806
3  1828  John Quincy Adams    National Republican        500897

Suppose that instead, we wanted *every* column value for the first four rows in the `elections` DataFrame. The shorthand `:` is useful for this.

In [142]:
elections.loc[0:3, :]

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073

There are a couple of things we should note. Unlike conventional Python, Pandas allows us to slice string values (in our example, the column labels). Secondly, slicing with `.loc` is inclusive. Notice how our resulting DataFrame includes every row and column between and including the slice labels we specified.

Equivalently, we can use a list to obtain multiple rows and columns in our `elections` DataFrame.

In [143]:
elections.loc[[0, 1, 2, 3], ['Year', 'Candidate', 'Party', 'Popular vote']]

   Year          Candidate                  Party  Popular vote
0  1824     Andrew Jackson  Democratic-Republican        151271
1  1824  John Quincy Adams  Democratic-Republican        113142
2  1828     Andrew Jackson             Democratic        642806
3  1828  John Quincy Adams    National Republican        500897

Lastly, we can interchange list and slicing notation.

In [144]:
elections.loc[[0, 1, 2, 3], :]

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073

### Indexing with .iloc

Slicing with `.iloc` works similarily to `.loc`, although `.iloc` uses the integer positions of rows and columns rather the labels. The arguments for the `.iloc` function also behave similarly - single values, lists, indices, and any combination of these are permitted. 

We can begin reproducing our results from above. Let's begin by selecting for the first presedential candidate in our `elections` DataFrame:

In [145]:
# elections.loc[0, "Candidate"] - Previous approach
elections.iloc[0, 1]

'Andrew Jackson'

Notice how the first argument to both `.loc` and `.iloc` are the same. This is because the row with a label of 0 is conveniently in the 0^th^ (or first) position of the `elections` DataFrame. Generally, this is true of any DataFrame where the row labels are incremented in ascending order from 0.

However, when we select for the first four rows and columns using `.iloc`, we notice something.

In [146]:
# elections.loc[0:3, 'Year':'Popular vote'] - Previous approach
elections.iloc[0:4, 0:4]

   Year          Candidate                  Party  Popular vote
0  1824     Andrew Jackson  Democratic-Republican        151271
1  1824  John Quincy Adams  Democratic-Republican        113142
2  1828     Andrew Jackson             Democratic        642806
3  1828  John Quincy Adams    National Republican        500897

Slicing is no longer inclusive in `.iloc` - it's exclusive! Sad to say, this is one of Pandas syntatical subtleties. Don't worry, you'll get used to with practice.

List behavior works just as expected.

In [147]:
#elections.loc[[0, 1, 2, 3], ['Year', 'Candidate', 'Party', 'Popular vote']] - Previous Approach
elections.iloc[[0, 1, 2, 3], [0, 1, 2, 3]]

   Year          Candidate                  Party  Popular vote
0  1824     Andrew Jackson  Democratic-Republican        151271
1  1824  John Quincy Adams  Democratic-Republican        113142
2  1828     Andrew Jackson             Democratic        642806
3  1828  John Quincy Adams    National Republican        500897

This discussion begs the question: when should we use `.loc` vs `.iloc`? In most cases, `.loc` is generally safer to use. You can imagine `.iloc` may return incorrect values when applied to a dataset where the ordering of data can change. 

### Indexing with []

The `[]` selection operator is the most baffling of all, yet it is the commonly used. It only takes a single argument, which may be one of the following:

1. A slice of row numbers
2. A list of column labels
3. A single column label

That is, `[]` is context dependent. Let's see some examples.

#### A slice of row numbers

Say we wanted the first four rows of our `elections` DataFrame.

In [148]:
elections[0:4]

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073

#### A list of column labels

Suppose we now want the first four columns.

In [149]:
elections[["Year", "Candidate", "Party", "Popular vote"]]

     Year          Candidate                  Party  Popular vote
0    1824     Andrew Jackson  Democratic-Republican        151271
1    1824  John Quincy Adams  Democratic-Republican        113142
2    1828     Andrew Jackson             Democratic        642806
3    1828  John Quincy Adams    National Republican        500897
4    1832     Andrew Jackson             Democratic        702735
..    ...                ...                    ...           ...
177  2016         Jill Stein                  Green       1457226
178  2020       Joseph Biden             Democratic      81268924
179  2020       Donald Trump             Republican      74216154
180  2020       Jo Jorgensen            Libertarian       1865724
181  2020     Howard Hawkins                  Green        405035

[182 rows x 4 columns]

#### A single column label

Lastly, if we only want the `Candidate` column.

In [150]:
elections["Candidate"]

0         Andrew Jackson
1      John Quincy Adams
2         Andrew Jackson
3      John Quincy Adams
4         Andrew Jackson
             ...
177           Jill Stein
178         Joseph Biden
179         Donald Trump
180         Jo Jorgensen
181       Howard Hawkins
Name: Candidate, Length: 182, dtype: object

The output looks quite different - it's no longer a DataFrame! This is a **Series**. We'll talk about what a Series is in the next section.

## DataFrames, Series, and Indices

We saw that selecting a single column from a DataFrame using the `[]` operator outputted a new data format, called a Series. Let's verify this claim.

In [151]:
type(elections)

pandas.core.frame.DataFrame

In [152]:
type(elections['Candidate'])

pandas.core.series.Series

A Series is a one dimensional object that represents a single column of data. It has two components - an index and the data. A DataFrame is equivalent to a collection of multiple Series, which all share the same index. Notice how the index of a Series is equivalent to the index (or row labels) of a DataFrame.

<img src="images/index_comparison_1.png" alt='index_comparison' width='800'>

However, a DataFrame index doesn't have to be an integer, nor does it have to be unique. For example, we can set our index to be the name of our presedential candidates. Selecting a new Series from this modified DataFrame yields the following:

<img src="images/index_comparison_2.png" alt='index_comparison_2' width='800'>

To retrieve the indices of a DataFrame, simply use the `.index` attribute of the DataFrame class.

In [153]:
elections.set_index("Candidate", inplace=True)
elections.index

Index(['Andrew Jackson', 'John Quincy Adams', 'Andrew Jackson',
       'John Quincy Adams', 'Andrew Jackson', 'Henry Clay', 'William Wirt',
       'Hugh Lawson White', 'Martin Van Buren', 'William Henry Harrison',
       ...
       'Darrell Castle', 'Donald Trump', 'Evan McMullin', 'Gary Johnson',
       'Hillary Clinton', 'Jill Stein', 'Joseph Biden', 'Donald Trump',
       'Jo Jorgensen', 'Howard Hawkins'],
      dtype='object', name='Candidate', length=182)

In [154]:
elections.reset_index(inplace=True)

Earlier, we mentioned that a Series was just a column of data. What if we wanted a single column as a DataFrame? To obtain this, we can pass in a list containing a single column to the `[]` selection operator.

In [155]:
elections[["Party"]] # ["Party"] is the argument - a list with a single element

                     Party
0    Democratic-Republican
1    Democratic-Republican
2               Democratic
3      National Republican
4               Democratic
..                     ...
177                  Green
178             Democratic
179             Republican
180            Libertarian
181                  Green

[182 rows x 1 columns]

## Conditional Selection

Conditional selection allows us to select a subset of rows in a DataFrame if they follow some specified condition.

To understand how to use conditional selection, we must look at another input to the `.loc` and `[]` operators - a boolean array. This boolean array must have a length equal to the number of rows in the DataFrame. It will return all rows in the position of the corresponding `True` value in the array.

Here, we will select all even-indexed rows in the first 10 rows of our DataFrame.

In [156]:
# Why is :9 is the correct slice to select the first 10 rows?
elections_first_10_rows = elections.loc[:9, :]

# Notice how we have exactly 10 elements in our boolean array argument
elections_first_10_rows[[True, False, True, False, True, \
                         False, True, False, True, False]]

,Candidate,Year,Party,Popular vote,Result,%
0,Andrew Jackson,1824,Democratic-Republican,151271,loss,57.210122
2,Andrew Jackson,1828,Democratic,642806,win,56.203927
4,Andrew Jackson,1832,Democratic,702735,win,54.574789
6,William Wirt,1832,Anti-Masonic,100715,loss,7.821583
8,Martin Van Buren,1836,Democratic,763291,win,52.272472

Unfortunately, using this method to select multiple rows in a large DataFrame is infeasible. Instead, we can provide a logical condition as an input to `.loc` or `[]` that returns a boolean array with said length.

For example, to return all candidates affilliated with the Independent party:

In [157]:
logical_operator = elections['Party'] == "Independent"
elections[logical_operator]

            Candidate  Year        Party  Popular vote Result          %
121   Eugene McCarthy  1976  Independent        740460   loss   0.911649
130  John B. Anderson  1980  Independent       5719850   loss   6.631143
143        Ross Perot  1992  Independent      19743821   loss  18.956298
161       Ralph Nader  2004  Independent        465151   loss   0.380663
167       Ralph Nader  2008  Independent        739034   loss   0.563842
174     Evan McMullin  2016  Independent        732273   loss   0.539546

Here, `logical_operator` evaluates to a Series of boolean values with length 182.

In [158]:
logical_operator

0      False
1      False
2      False
3      False
4      False
       ...
177    False
178    False
179    False
180    False
181    False
Name: Party, Length: 182, dtype: bool

Rows 121, 130, 143, 161, 167, and 174 evaluate to `True` and are thus returned in the DataFrame.

In [159]:
#| code-fold: true
print(logical_operator.loc[[121, 130, 143, 161, 167, 174]])

121    True
130    True
143    True
161    True
167    True
174    True
Name: Party, dtype: bool

Passing a Series as an argument to `elections[]` has the same affect as using a boolean array. In fact, the `[]` selection operator can take a boolean Series, array, and list as arguments. These three are used interchangeably thoughout the course.

Similarly, we can use `.loc` to achieve similar results.

In [160]:
elections.loc[elections['Party'] == "Independent"]

            Candidate  Year        Party  Popular vote Result          %
121   Eugene McCarthy  1976  Independent        740460   loss   0.911649
130  John B. Anderson  1980  Independent       5719850   loss   6.631143
143        Ross Perot  1992  Independent      19743821   loss  18.956298
161       Ralph Nader  2004  Independent        465151   loss   0.380663
167       Ralph Nader  2008  Independent        739034   loss   0.563842
174     Evan McMullin  2016  Independent        732273   loss   0.539546

Boolean conditions can be combined using various operators that allow us to filter results by multiple conditions. Some examples include the `&` (and) operator and `|` (or) operator.

**Note**: When combining multiple conditions with logical operators, be sure to surround each condition with a set of paranthesis `()`. If you forget, your code will throw an error.

For example, if we want to return data on all presidential candidates affiliated with the Independent Party before the 21^st^ century, we can do so:

In [161]:
elections[(elections['Party'] == "Independent") \
          & (elections['Year'] < 2000)]

            Candidate  Year        Party  Popular vote Result          %
121   Eugene McCarthy  1976  Independent        740460   loss   0.911649
130  John B. Anderson  1980  Independent       5719850   loss   6.631143
143        Ross Perot  1992  Independent      19743821   loss  18.956298

## Handy Utility Functions

There are a large number of operations supported by `pandas` that allow us to efficiently manipulate data . In this section, we'll cover a few.

1. `.head` and `.tail`
2. `.shape` and `.size`
2. `.describe`
3. `.sample`
4. `.value_counts`
5. `.unique`
6. `.sort_values`

#### .head / .tail

`.head(n)` and `.tail(n)` display the first `n` and last `n` rows of a DataFrame, respectively.

In [162]:
elections.head(3)

,Candidate,Year,Party,Popular vote,Result,%
0,Andrew Jackson,1824,Democratic-Republican,151271,loss,57.210122
1,John Quincy Adams,1824,Democratic-Republican,113142,win,42.789878
2,Andrew Jackson,1828,Democratic,642806,win,56.203927

In [163]:
elections.tail(3)

          Candidate  Year        Party  Popular vote Result          %
179    Donald Trump  2020   Republican      74216154   loss  46.858542
180    Jo Jorgensen  2020  Libertarian       1865724   loss   1.177979
181  Howard Hawkins  2020        Green        405035   loss   0.255731

#### .shape / .size

`.shape` returns a tuple with the number of rows and columns in a DataFrame. <br>
`.size` returns the total number of data entries. This is the product of the number of rows and columns.

In [164]:
elections.shape

(182, 6)

In [165]:
num_rows, num_cols = elections.shape
assert(elections.size == num_rows * num_cols)
elections.size

1092

#### .describe

`.describe()` returns a DataFrame of useful summary statistics for each numerical column.

In [166]:
elections.describe()

              Year  Popular vote           %
count   182.000000  1.820000e+02  182.000000
mean   1934.087912  1.235364e+07   27.470350
std      57.048908  1.907715e+07   22.968034
min    1824.000000  1.007150e+05    0.098088
25%    1889.000000  3.876395e+05    1.219996
50%    1936.000000  1.709375e+06   37.677893
75%    1988.000000  1.897775e+07   48.354977
max    2020.000000  8.126892e+07   61.344703

#### .sample

`.sample(n)` returns a random sample of `n` rows from the given DataFrame.

In [167]:
elections.sample(3)

            Candidate  Year        Party  Popular vote Result          %
34   Samuel J. Tilden  1876   Democratic       4288546   loss  51.528376
158        John Kerry  2004   Democratic      59028444   loss  48.306775
101  Henry A. Wallace  1948  Progressive       1157328   loss   2.374144

#### .value_counts

`.value_counts()` is called on a column and returns a Series containing the total count of each unique value.

In [168]:
#| fig-cap: This code tells us how many times each candidate ran for president of the United States.
elections['Candidate'].value_counts()

Norman Thomas         5
Franklin Roosevelt    4
Ralph Nader           4
Eugene V. Debs        4
Grover Cleveland      3
                     ..
Hugh Lawson White     1
Lenora Fulani         1
Horatio Seymour       1
John W. Davis         1
Calvin Coolidge       1
Name: Candidate, Length: 132, dtype: int64

#### .unique

`.unique()` is called on a Series and returns an array with the unique values of that Series.

In [169]:
# For brevity, we have limited the results to 5 candidates 
elections['Candidate'].unique()[:5]

array(['Andrew Jackson', 'John Quincy Adams', 'Henry Clay',
       'William Wirt', 'Hugh Lawson White'], dtype=object)

#### .sort_values

`.sort_values()` returns a sorted version of the Series it was called on. Numerical values are in sorted magnitude, while text is sorted in alphabetical order. You may specify optional arguments to sort in ascending or descending order.

In [170]:
elections['Candidate'].sort_values()

75           Aaron S. Watkins
27            Abraham Lincoln
23            Abraham Lincoln
108           Adlai Stevenson
105           Adlai Stevenson
                ...
19             Winfield Scott
37     Winfield Scott Hancock
74             Woodrow Wilson
70             Woodrow Wilson
16             Zachary Taylor
Name: Candidate, Length: 182, dtype: object

### Parting Note

The `pandas` library is enormous and contains many useful functions. Here is a link to [documentation](https://pandas.pydata.org/docs/).

This lecture and the next will cover important methods you should be fluent in. However, we want you to get familiar with the real world programming practice of ...Googling! Answers to your questions can be found in documentation, Stack Overflow, etc. 

With that, let's move on to Pandas II.