---
title: Pandas I
format:
  html:
    toc: true
    toc-depth: 5
    toc-location: right
    code-fold: false
    theme:
      - cosmo
      - cerulean
    callout-icon: false
---

::: {.callout-note collapse="true"}
## Learning Outcomes

- Build familiarity with basic `pandas` syntax
- Learn the methods of selecting and filtering data from a DataFrame.
- Understand the differences between DataFrames and Series
:::

Data scientists work with data stored in a variety of formats. The primary focus of this class is in understanding tabular data -- one of the most widely used formats in data science. This note introduces DataFrames, which are among the most popular representations of tabular data. We’ll also introduce `pandas`, the standard Python package for manipulating data in DataFrames.

## Introduction to Exploratory Data Analysis

Imagine you have collected or have been given a box of data. What do you do next? 

<img src="images/understand_data.png" alt='understand_data' width='500'>

The first step is to clean your data (**data cleaning**). Data scientists have coined the term **exploratory data analysis (EDA)** to describe the process of transforming raw data to insightful observations. 

EDA is an *open-ended* analysis of transforming, visualizing, and summarizing patterns in data. In order to conduct EDA, we first need to familiarize ourselves with an important programming tool: `pandas`.

## Introduction to Pandas

`pandas` is a data analysis library to make data cleaning and analysis fast and convenient in Python. 

The library adopts many coding idioms from `NumPy`. The biggest difference is that `pandas` is designed for working with tabular data, one of the most common data formats (and the primary focus of Data 100).

Before writing code, we must import `pandas` into our Python environment.

In [45]:
# `pd` is the conventional alias for Pandas, as `np` is for NumPy
import pandas as pd

## Series, DataFrames, and Indices

There are three fundamental data structures in `pandas`:

1. **Series**: 1D labeled array data. It's best thought of as columnar data
2. **DataFrame**: 2D tabular data with rows and columns
3. **Index**: A sequence of row/column labels

DataFrames, Series, and Indices can be represented visually in the following diagram.

![](images/df_series_index.png)

Notice how the **DataFrame** is a two dimensional object -- it contains both rows and columns. The **Series** above is a singular column of this DataFrame, namely the `Candidate` column. Both contain an **Index**, or a shared list of row labels (the integers from 0 to 5, inclusive).

### Series

A Series represents a column of a DataFrame; however, more generally, it can be any 1-dimensional array-like object containing values of the same type with associated data labels, called its index.

In [46]:
import pandas as pd

s = pd.Series([-1, 10, 2])
s

0    -1
1    10
2     2
dtype: int64

In [47]:
s.array # Data contained within the Series

<PandasArray>
[-1, 10, 2]
Length: 3, dtype: int64

In [48]:
s.index # The Index of the Series

RangeIndex(start=0, stop=3, step=1)

By default, row indices in `pandas` are the sequential list of integers beginning from 0. Optionally, we can specify a list of desired indices.

In [49]:
s = pd.Series([-1, 10, 2], index = ["a", "b", "c"])
s

a    -1
b    10
c     2
dtype: int64

A Series index can also be changed after initialization.

In [50]:
s.index = ["first", "second", "third"]
s

first     -1
second    10
third      2
dtype: int64

#### Selection in Series

Just like with an array, we can select a single value or a set of values in a Series using:

1. A single index label
2. A list of index labels
3. A filtering condition

Let's define the following series `ser`

In [51]:
ser = pd.Series([4, -2, 0, 6], index = ["a", "b", "c", "d"])
ser

a    4
b   -2
c    0
d    6
dtype: int64

##### A Single Index Label

In [52]:
ser["a"] # Notice how the return value is a single array element

4

##### A List of Index Labels

In [53]:
ser[["a", "c"]] # Notice how the return value is another Series

a    4
c    0
dtype: int64

##### A Filtering Condition

Perhaps the most interesting (and useful) method to select data from a Series is with a filtering condition. 

To do so, we must first apply a vectorized boolean operation to all the elements in a Series.

In [54]:
ser > 0 # Vectorized boolean condition

a     True
b    False
c    False
d     True
dtype: bool

Upon "indexing" in our Series with this condition, `pandas` selects only the rows with `True` values.

In [55]:
ser[ser > 0]

a    4
d    6
dtype: int64

### DataFrames

In Data 8, you encountered the `Table` class of the `datascience` library that represented tabular 2D data. In Data 100, we'll be using the `DataFrame` class of the `pandas` library.

Here is an example of a DataFrame that contains election data.

In [56]:
import pandas as pd

elections = pd.read_csv("data/elections.csv")
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979
181,2020,Howard Hawkins,Green,405035,loss,0.255731

Let's dissect the code above. 

1. We first import the ````pandas```` library into our Python environment, using the alias `pd`. <br> &emsp;```` import pandas as pd ````

2. There are a number of ways to read data into a DataFrame. In Data 100, our data are typically stored in a CSV (comma-seperated values) file format. We can import a CSV file into a DataFrame by passing the data path as an argument to the following ````pandas```` function. 
<br> &emsp;```` pd.read_csv("elections.csv") ```` 

This code stores our DataFrame object in the ````elections```` variable. Upon inspection, our ````elections```` DataFrame has 182 rows and 6 columns (`Year`, `Candidate`, `Party`, `Popular Vote`, `Result`, `%`). Each row represents a single record - in our example, a presedential candidate from some particular year. Each column represents a single attribute, or feature of the record.

In the example above, we constructed a DataFrame object using data from a CSV file. As we'll explore in the next section, we can create a DataFrame with data of our own.

#### Creating a DataFrame

There are many ways to create a DataFrame. Here, we will cover the most popular approaches.

1. Using a list and column names
2. From a dictionary
3. From a Series

##### Using a List and Column Names

Consider the following examples.

In [57]:
df_list = pd.DataFrame([1, 2, 3], columns=["Numbers"])
df_list

   Numbers
0        1
1        2
2        3

The first code cell creates a DataFrame with a single column `Numbers`, while the second creates a DataFrame with an additional column `Description`. Notice how a 2D list of values is required to initialize the second DataFrame -- each nested list represents a single row of data.

In [58]:
df_list = pd.DataFrame([[1, "one"], [2, "two"]], columns = ["Number", "Description"])
df_list

   Number Description
0       1         one
1       2         two

##### From a Dictionary

A second (and perhaps the most common) way to create a DataFrame is by using a dictionary. The dictionary keys represent the column names, and the dictionary values represent the column values.

In [59]:
df_dict = pd.DataFrame({"Fruit": ["Strawberry", "Orange"], "Price": [5.49, 3.99]})
df_dict

        Fruit  Price
0  Strawberry   5.49
1      Orange   3.99

##### From a Series

Earlier, we showed how a Series was just a column of a DataFrame. It follows then, that a DataFrame is equivalent to a collection of multiple Series, which all share the same index. 

In fact, we can initialize a DataFrame by combining multiple Series.

In [60]:
# Notice how our indices, or row labels, are the same

s_a = pd.Series(["a1", "a2", "a3"], index = ["r1", "r2", "r3"])
s_b = pd.Series(["b1", "b2", "b3"], index = ["r1", "r2", "r3"])

pd.DataFrame({"A-column": s_a, "B-column": s_b})

   A-column B-column
r1       a1       b1
r2       a2       b2
r3       a3       b3

### Indices

The major takeaway: we can think of a **DataFrame** as a collection of **Series** that all share the same **Index**.

On a more technical note, an Index doesn't have to be an integer, nor does it have to be unique. In our `elections` Dataframe, we can set our index to be the name of our presedential candidates. Selecting a new Series from this modified DataFrame yields the following:

In [61]:
# This sets the index to the "Candidate" column
elections.set_index("Candidate", inplace=True)

![](images/index_comparison_2.png)

To retrieve the indices of a DataFrame, simply use the `.index` attribute of the DataFrame class.

In [62]:
elections.index

Index(['Andrew Jackson', 'John Quincy Adams', 'Andrew Jackson',
       'John Quincy Adams', 'Andrew Jackson', 'Henry Clay', 'William Wirt',
       'Hugh Lawson White', 'Martin Van Buren', 'William Henry Harrison',
       ...
       'Darrell Castle', 'Donald Trump', 'Evan McMullin', 'Gary Johnson',
       'Hillary Clinton', 'Jill Stein', 'Joseph Biden', 'Donald Trump',
       'Jo Jorgensen', 'Howard Hawkins'],
      dtype='object', name='Candidate', length=182)

In [63]:
# This resets the index to be the default list of integers
elections.reset_index(inplace=True)

## Slicing in DataFrames

Now that we've learned how to create DataFrames, let's dive deeper into their capabilities. 

The API (application programming interface) for the DataFrame class is enormous. In this section, we'll discuss several methods of the DataFrame API that allow us to extract subsets of data.

The most fundamental way to manipulate a DataFrame is to extract a subset of rows and columns. This is called **slicing**. We will do so with three primary methods of the DataFrame class:

1. `.loc`
2. `.iloc`
3. `[]`

### Indexing with .loc

The `.loc` operator selects rows and columns in a DataFrame by their row and column label(s), respectively. The **row label** (commonly referred to as the **index**) is the bold text on the far *left* of a DataFrame, while the **column label** is the text found at the *top* of a DataFrame.

`.loc` lets us grab data by specifying the appropriate row and column label(s) where the data exists. The row labels are the first argument to the `.loc` function; the column labels are the second. For example, to select the the row labeled `0` and the column labeled `Candidate` from our `elections` DataFrame we can write:

In [64]:
elections.loc[0, 'Candidate']

'Andrew Jackson'

To select *multiple* rows and columns, we can use Python slice notation. We can select the first four rows and first four columns.

In [65]:
elections.loc[0:3, 'Year':'Popular vote']

   Year                  Party  Popular vote
0  1824  Democratic-Republican        151271
1  1824  Democratic-Republican        113142
2  1828             Democratic        642806
3  1828    National Republican        500897

Suppose that instead, we wanted *every* column value for the first four rows in the `elections` DataFrame. The shorthand `:` is useful for this.

In [66]:
elections.loc[0:3, :]

,Candidate,Year,Party,Popular vote,Result,%
0,Andrew Jackson,1824,Democratic-Republican,151271,loss,57.210122
1,John Quincy Adams,1824,Democratic-Republican,113142,win,42.789878
2,Andrew Jackson,1828,Democratic,642806,win,56.203927
3,John Quincy Adams,1828,National Republican,500897,loss,43.796073

There are a couple of things we should note. Unlike conventional Python, Pandas allows us to slice string values (in our example, the column labels). Secondly, slicing with `.loc` is *inclusive*. Notice how our resulting DataFrame includes every row and column between and including the slice labels we specified.

Equivalently, we can use a list to obtain multiple rows and columns in our `elections` DataFrame.

In [67]:
elections.loc[[0, 1, 2, 3], ['Year', 'Candidate', 'Party', 'Popular vote']]

   Year          Candidate                  Party  Popular vote
0  1824     Andrew Jackson  Democratic-Republican        151271
1  1824  John Quincy Adams  Democratic-Republican        113142
2  1828     Andrew Jackson             Democratic        642806
3  1828  John Quincy Adams    National Republican        500897

Lastly, we can interchange list and slicing notation.

In [68]:
elections.loc[[0, 1, 2, 3], :]

,Candidate,Year,Party,Popular vote,Result,%
0,Andrew Jackson,1824,Democratic-Republican,151271,loss,57.210122
1,John Quincy Adams,1824,Democratic-Republican,113142,win,42.789878
2,Andrew Jackson,1828,Democratic,642806,win,56.203927
3,John Quincy Adams,1828,National Republican,500897,loss,43.796073

### Indexing with .iloc

Slicing with `.iloc` works similarily to `.loc`, although `.iloc` uses the integer positions of rows and columns rather the labels. The arguments to the `.iloc` function also behave similarly - single values, lists, indices, and any combination of these are permitted. 

Let's begin reproducing our results from above. We'll begin by selecting for the first presedential candidate in our `elections` DataFrame:

In [69]:
# elections.loc[0, "Candidate"] - Previous approach
elections.iloc[0, 1]

1824

Notice how the first argument to both `.loc` and `.iloc` are the same. This is because the row with a label of 0 is conveniently in the 0^th^ (or first) position of the `elections` DataFrame. Generally, this is true of any DataFrame where the row labels are incremented in ascending order from 0.

However, when we select for the first four rows and columns using `.iloc`, we notice something.

In [70]:
# elections.loc[0:3, 'Year':'Popular vote'] - Previous approach
elections.iloc[0:4, 0:4]

           Candidate  Year                  Party  Popular vote
0     Andrew Jackson  1824  Democratic-Republican        151271
1  John Quincy Adams  1824  Democratic-Republican        113142
2     Andrew Jackson  1828             Democratic        642806
3  John Quincy Adams  1828    National Republican        500897

Slicing is no longer inclusive in `.iloc` - it's *exclusive*. This is one of Pandas syntatical subtleties; you'll get used to with practice.

List behavior works just as expected.

In [71]:
#elections.loc[[0, 1, 2, 3], ['Year', 'Candidate', 'Party', 'Popular vote']] - Previous Approach
elections.iloc[[0, 1, 2, 3], [0, 1, 2, 3]]

           Candidate  Year                  Party  Popular vote
0     Andrew Jackson  1824  Democratic-Republican        151271
1  John Quincy Adams  1824  Democratic-Republican        113142
2     Andrew Jackson  1828             Democratic        642806
3  John Quincy Adams  1828    National Republican        500897

This discussion begs the question: when should we use `.loc` vs `.iloc`? In most cases, `.loc` is generally safer to use. You can imagine `.iloc` may return incorrect values when applied to a dataset where the ordering of data can change. 

### Indexing with []

The `[]` selection operator is the most baffling of all, yet it is the commonly used. It only takes a single argument, which may be one of the following:

1. A slice of row numbers
2. A list of column labels
3. A single column label

That is, `[]` is *context dependent*. Let's see some examples.

#### A slice of row numbers

Say we wanted the first four rows of our `elections` DataFrame.

In [72]:
elections[0:4]

,Candidate,Year,Party,Popular vote,Result,%
0,Andrew Jackson,1824,Democratic-Republican,151271,loss,57.210122
1,John Quincy Adams,1824,Democratic-Republican,113142,win,42.789878
2,Andrew Jackson,1828,Democratic,642806,win,56.203927
3,John Quincy Adams,1828,National Republican,500897,loss,43.796073

#### A list of column labels

Suppose we now want the first four columns.

In [73]:
elections[["Year", "Candidate", "Party", "Popular vote"]]

     Year          Candidate                  Party  Popular vote
0    1824     Andrew Jackson  Democratic-Republican        151271
1    1824  John Quincy Adams  Democratic-Republican        113142
2    1828     Andrew Jackson             Democratic        642806
3    1828  John Quincy Adams    National Republican        500897
4    1832     Andrew Jackson             Democratic        702735
..    ...                ...                    ...           ...
177  2016         Jill Stein                  Green       1457226
178  2020       Joseph Biden             Democratic      81268924
179  2020       Donald Trump             Republican      74216154
180  2020       Jo Jorgensen            Libertarian       1865724
181  2020     Howard Hawkins                  Green        405035

[182 rows x 4 columns]

#### A single column label

Lastly, if we only want the `Candidate` column.

In [74]:
elections["Candidate"]

0         Andrew Jackson
1      John Quincy Adams
2         Andrew Jackson
3      John Quincy Adams
4         Andrew Jackson
             ...
177           Jill Stein
178         Joseph Biden
179         Donald Trump
180         Jo Jorgensen
181       Howard Hawkins
Name: Candidate, Length: 182, dtype: object

The output looks like a Series! In practice, we'll use `[]` a lot in this course, especially when selecting for column labels. `[]` is much more common in real world than `.loc`.

## Parting Note

The `pandas` library is enormous and contains many useful functions. Here is a link to [documentation](https://pandas.pydata.org/docs/).

This lecture and the next will cover important methods you should be fluent in. However, we want you to get familiar with the real world programming practice of ...Googling! Answers to your questions can be found in documentation, Stack Overflow, etc. 

With that, let's move on to Pandas II.